<div class="d-flex justify-content-center">
    <form action="">
        <div>
            <div>
                Login
            </div>
            <div>
                <div>
                    <label for="emailusaurio">Usurio</label>
                </div>
                <div>
                    <input type="emial" name="emailusaurio" id="emailusaurioid" placeholder="INgre su nombre">
                </div>
                <div>
                    <label for ="">Contraseña</label>
                </div>
                <div>
                    <input type="password" name="contrasenapassword" id="contrasenapasswordid">
                </div>
                <br>
            </div>
            <div>
                <input class="btn btn-primary" type="button" value="inicar sesion">
            </div>
        </div>
    </form>
</div>